@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#container {
  border: 0px solid #bcbcbc;
  max-width: 100%;
  width: 100%;
  margin: auto;
}

#author {
  max-width: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  font-style: italic;
}